<label for="isAborted">
	<f:translate key="tx_hsquestionnaire_domain_model_status.is_aborted" />
</label><br />
	<f:form.checkbox property="isAborted" value="1" /><br />
<label for="isFailed">
	<f:translate key="tx_hsquestionnaire_domain_model_status.is_failed" />
</label><br />
	<f:form.checkbox property="isFailed" value="1" /><br />
<label for="isPassed">
	<f:translate key="tx_hsquestionnaire_domain_model_status.is_passed" />
</label><br />
	<f:form.checkbox property="isPassed" value="1" /><br />