<label for="title">
	<f:translate key="tx_hsquestionnaire_domain_model_certificate.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="city">
	<f:translate key="tx_hsquestionnaire_domain_model_certificate.city" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="city" /><br />
<label for="postNameX">
	<f:translate key="tx_hsquestionnaire_domain_model_certificate.post_name_x" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="postNameX" /><br />
<label for="postNameY">
	<f:translate key="tx_hsquestionnaire_domain_model_certificate.post_name_y" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="postNameY" /><br />
<label for="postCityX">
	<f:translate key="tx_hsquestionnaire_domain_model_certificate.post_city_x" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="postCityX" /><br />
<label for="postCityY">
	<f:translate key="tx_hsquestionnaire_domain_model_certificate.post_city_y" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="postCityY" /><br />