<label for="title">
	<f:translate key="tx_hsquestionnaire_domain_model_question.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="title" /><br />
<label for="questionText">
	<f:translate key="tx_hsquestionnaire_domain_model_question.question_text" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="questionText" /><br />
<label for="points">
	<f:translate key="tx_hsquestionnaire_domain_model_question.points" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="points" /><br />
<label for="maxAnswerCount">
	<f:translate key="tx_hsquestionnaire_domain_model_question.max_answer_count" />
</label><br />
	<f:form.textfield property="maxAnswerCount" /><br />
<label for="images">
	<f:translate key="tx_hsquestionnaire_domain_model_question.images" />
</label><br />
	<f:form.upload property="images" /><br />
<label for="isRandomOrder">
	<f:translate key="tx_hsquestionnaire_domain_model_question.is_random_order" />
</label><br />
	<f:form.checkbox property="isRandomOrder" value="1" /><br />
<label for="isRequired">
	<f:translate key="tx_hsquestionnaire_domain_model_question.is_required" />
</label><br />
	<f:form.checkbox property="isRequired" value="1" /><br />
<label for="isPassedRequired">
	<f:translate key="tx_hsquestionnaire_domain_model_question.is_passed_required" />
</label><br />
	<f:form.checkbox property="isPassedRequired" value="1" /><br />
<label for="showIfDependencies">
	<f:translate key="tx_hsquestionnaire_domain_model_question.show_if_dependencies" />
</label><br />
	<f:form.checkbox property="showIfDependencies" value="1" /><br />
<label for="type">
	<f:translate key="tx_hsquestionnaire_domain_model_question.type" />
</label><br />
	<f:form.textfield property="type" /><br />