<table class="tx-hs-questionnaire" >
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.title" />
		</td>
		<td>
			{question.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.question_text" />
		</td>
		<td>
			{question.questionText}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.points" />
		</td>
		<td>
			{question.points}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.max_answer_count" />
		</td>
		<td>
			{question.maxAnswerCount}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.images" />
		</td>
		<td>
			{question.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.is_random_order" />
		</td>
		<td>
			{question.isRandomOrder}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.is_required" />
		</td>
		<td>
			{question.isRequired}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.is_passed_required" />
		</td>
		<td>
			{question.isPassedRequired}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.show_if_dependencies" />
		</td>
		<td>
			{question.showIfDependencies}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_question.type" />
		</td>
		<td>
			{question.type}
		</td>
	</tr>
</table>