<table class="tx-hs-questionnaire" >
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_answer.title" />
		</td>
		<td>
			{answer.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_answer.points" />
		</td>
		<td>
			{answer.points}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_answer.description" />
		</td>
		<td>
			{answer.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_answer.images" />
		</td>
		<td>
			{answer.images}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_hsquestionnaire_domain_model_answer.correct_answer" />
		</td>
		<td>
			{answer.correctAnswer}
		</td>
	</tr>
</table>